<?xml version="1.0"?>
<robot name="real_map">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="modelfiles/real-3.obj"
              scale="1 1 1"/>
      </geometry>
      <geometry>
        <box size="100 100 1"/>
      </geometry>
      <material name="my_mat">
        <texture filename="package:texturefiles/real-3.png"/>

      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="modelfiles/real-3.obj"
              scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </link>
</robot>
